.uoe-website-mask {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.uoe-survey-panel-notice {
    display: flex;
    flex-direction: column;
    bottom: 5px;
}
.uoe-survey-panel-hide {
    opacity: 0;
}

.uoe-survey-panel-show {
    opacity: 1;
    padding: 0px;
}
.uoe-survey-panel {
    align-self: center;
    padding : 10px 15px;
    background : #fff;
    position:fixed;
    top: 25%;
    font-size: 0.9em;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 36em;
    z-index: 999;
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */
@media only screen and (max-width: 479px){
    .uoe-survey-panel {
        width: 90%;
        font-size: 0.9em;
        line-height: 18px;
        padding: 10px;
    }
    ul.list-inline > li {
        margin-bottom: 5px;
    }
}

#uoe-survey-panel-text {
    color: #333;
    z-index: 100;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 14px;
    display: block;
    padding-bottom: 10px;

}
#uoe-survey-panel-text-header {
    line-height: 20px;
    font-size: 18px;
    color: #333;
    display: block;
    padding-bottom: 10px;
    margin-right: 5px;
    padding-right: 5px;
}



a.uoe-survey-panel-link  {
    color: #ccc;
    padding-left: 5px;
    text-decoration: underline;
}
a.uoe-survey-panel-link:hover {
    color: #fff;
    padding-left: 5px;
}
a.uoe-survey-panel-link:visited {
    color: #fff;
    padding-left: 5px;
}

/* buttons */
.glyphicon.glyphicon-remove:before {
    content: 'X';
}

.list-inline {
    padding-left: 0;
}
.list-inline li {
    list-style: none;
    display: inline-block;
    margin-right: 0.75rem;
}
#uoe-survey-panel-close-btn {
    color: #333;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    position: absolute;
    right: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.uoe-survey-btn {
    position: relative;
    display: inline-block;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .275rem;
    -webkit-box-shadow: inset 0 1px 0 rgba(100, 100, 100, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(100, 100, 100, .15), 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.uoe-survey-btn-primary {
    color: #fff;
    background-color: #041e42;
    border-color: #041e42;
}
a.uoe-survey-btn-primary:hover {
    color: #fff;
}
.uoe-survey-btn-secondary {
    color: #333;
    background-color: #fff;
    border-color: #333;
}
